<div id="message_alert">
       <p id="p_alert"><strong>¡Hola! Este es un mensaje de alerta</strong> imitando un componente dinámico de bootstrap</p>
       <button id="close">
              <span>X</span>
       </button> 
</div>

<h1>Desafio componentes dinámicos</h1>

<!--Alert -->
<button id="alert">Haz click aca para generar una alerta :D</button>

<!--Collapse-->
<button id="collapse">Haz click aca para ver el efecto collapse :D</button>
<div id="message_collapse">
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit doloremque aliquid facilis odio officiis veniam, necessitatibus est ipsum nostrum esse ipsam cumque sed a architecto maiores sint quidem dolorum ut! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus atque tenetur suscipit praesentium officiis modi itaque voluptatibus sed sunt, quibusdam deleniti in qui repudiandae alias adipisci, laudantium quasi rerum esse.</p>
</div>
<div id="cover">
       <p>Esta Informacion debe tapar el div del collapse :D</p>
</div>

<!--Collapse Accordion-->
<%# <div id="father">
       <a href="#" id="op1">Opcion 1</a>
       <div class="collapse">
              <p id="option-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, molestiae magnam officia, accusamus beatae possimus nostrum tenetur veniam natus animi amet optio esse inventore maiores voluptatem distinctio? Dicta, ab voluptas!</p>
       </div>

       <h2 id="op2">Opcion 2</h2>
       <div class="collapse">
              <p id="option-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aperiam rem, sapiente qui quaerat repellendus eum voluptatem odit ab. A officia quidem quis labore vel excepturi unde dolorum provident reiciendis.</p>
       </div>

       <h2 id="op3">Option 3</h2>
       <div class="collapse">
              <p id="option-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cumque corrupti maxime saepe numquam nihil facilis quas dolor cupiditate, aut neque doloremque eveniet. Quam reprehenderit molestiae deserunt ex neque autem.</p>
       </div>
</div> %>

<button id="accordion1" class="accordion">Section 1</button>
       <div class="panel" id="panel1">
       <p>Lorem ipsum...</p>
</div>

<button id="accordion2" class="accordion">Section 2</button>
       <div class="panel" id="panel2">
       <p>Lorem ipsum...</p>
</div>

<button id="accordion3" class="accordion">Section 3</button>
       <div class="panel" id="panel3">
       <p>Lorem ipsum...</p>
</div>

